<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="shortcut icon" href="public/RE-Site-Builders-logo/profile.png"/>
  {% if page.pageDescription %}
    <meta name="description" content="{{ page.pageDescription }}">
  {% endif %}

  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
  {% endif %}

  <meta name="author" content="Abdelrauof Mohammed">
  <meta property=”og:type” content=”website” />
  {% if page.title == "Home" %}
    <meta property='og:title' content='{{ site.title }} &middot; {{ site.tagline }}'/>
  {% else %}
    <meta property='og:title' content='{{ page.title }} &middot; {{ site.title }}'/>
  {% endif %}
  <meta property='og:title' content='Real Estate Website Builder | Real Geeks Website Designer'/>
  <meta property='og:image' content='public/RE-Site-Builders-logo/profile.png'/>
  {% if page.pageDescription %}
    <meta name="og:description" content="{{ page.pageDescription }}">
  {% endif %}
  <meta property='og:url' content='https://rauof.com/' />
  <meta property="og:site_name" content="Real Geeks Website Designer">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="public/styles/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118296144-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118296144-1');
  </script>
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind+Guntur:500&amp;display=swap" rel="stylesheet">

  <!-- TrustBox script -->
  <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
  <!-- End TrustBox script -->

  <link href="public/styles/purejscarousel.css" rel="stylesheet">
</head>
