
<div class="navbar-original navbar-outer bg-light">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Rauof RG Website Designs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/reviews">Reviews</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Packages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/pricing">Custom Buildout Packages</a>
            <a class="dropdown-item" href="/real-geeks-care-plans">Care Packages</a>
            <!-- <a class="dropdown-item" href="/request-property-valuation-page">Home Valuation Landing Page</a> -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-rauof">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link request-quote-nav" href="/realgeeks-buildout-form">Request Quote</a>
        </li> -->
      </ul>
    </div>
  </nav>
</div>
<!-- <a href="/realgeeks-buildout-form" class="home-bell"><span>Request a proposal</span></a> -->
