
<div class="navbar-original navbar-outer bg-light">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/" style="padding:0;"><img src="/public/assets/logo.png" width="215" height="auto" alt="Realty Webmaster Logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="/reviews">Reviews</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link" href="/pricing">Buildout Packages</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/request-website-buildout">Request Buildout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-rauof">Contact Us</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link request-quote-nav" href="/realgeeks-buildout-form">Request Quote</a>
        </li> -->
      </ul>
    </div>
  </nav>
</div>
<!-- <a href="/realgeeks-buildout-form" class="home-bell"><span>Request a proposal</span></a> -->
