body{
  font-family: 'Hind Guntur', sans-serif;
}

}
* {
  box-sizing: border-box;
}

a:focus, a:hover {
    color: #5b76d8;
}
a:active, a:hover {
    outline: 0;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover {
    color: #f76a6b;
}
.navbar-light .navbar-nav .nav-item.active>.nav-link{
  color: #f76a6b;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#hero-section {
  background: linear-gradient(180deg,rgba(0, 0, 0, .5),rgba(0,0,0, 0.5)), url("../photos/cc-bg-1.jpg") no-repeat center bottom;
  background-size: cover;
  width: 100%;
  height: 650px;
}
#hero-section h1 {
  color: #fff;
  width: 600px;
  max-width: 100%;
}
#hero-section h4 {
  color: #fff;
  margin-top: 30px;
  max-width: 100%;
}

@media(min-width: 992px) {
  .navbar .navbar-brand {
    margin-right: 300px;
  }
  .navbar {
    width: fit-content;
    margin: auto;
    padding: 1rem 0;
  }
  .navbar-outer {
    background: transparent !important;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .navbar-original {
    background: #fff !important;
    border-bottom: 5px solid #5b76d8;
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand  {
    color: #fff;
    font-weight: 500;
  }
  .navbar-original .navbar-light .navbar-nav .active>.nav-link, .navbar-original .navbar-light .navbar-nav .nav-link, .navbar-original .navbar-light .navbar-brand  {
    color: #5b76d8;
  }
  .navbar-original .navbar-light .navbar-nav .active>.nav-link {
    color: #f76a6b;
  }
  #hero-section {
    position: relative;
  }
  #hero-section .container {
    padding-top: 350px;
  }
}
.navbar-original .navbar-light .navbar-nav .active>.nav-link:hover, .navbar-original .navbar-light .navbar-nav .nav-link:hover, .navbar-original .navbar-light .navbar-brand:hover  {
  color: #f76a6b;
}

@media (min-width: 992px){
  section.content-section {
      font-size: 20px;
  }
}
section.content-section {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
    padding: 50px 0;
}
.service-container {
    max-width: 1150px;
    margin: 0 auto;
}
.service-container .chart-up {
  border-radius: 50%;
  height: 350px;
  width: 350px;
  border: 10px solid #5b76d8;
  display: table;
  text-align: center;
  margin: auto;
}
.service-container .chart-up:hover {
  background: #a4b6f7;
}
.service-container .chart-up .fa {
  font-size: 190px;
  color: #000;
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 770px){
  .service-container .chart-up {
    margin-bottom: 50px;
    width: 50vw;
    height: 50vw;
  }
  .service-container .chart-up .fa {
    font-size: 23vw;
  }
}

.content-section.red.poly-texture h2, .content-section.red.poly-texture p {
  color: #fff;
}

#footer {
  background-color: #222;
  line-height: 1.2;
  color: #888;
  display: flow-root;
}
#footer>.container {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 992px){
  #footer-navigation {
      float: left;
  }
}
#footer-navigation {
  margin-bottom: 21px;
  text-transform: none;
  font-size: 18px;
  font-family: Montserrat,titillium web,helvetica neue,Helvetica,Arial,sans-serif;
}
#footer-navigation ul{
  list-style: none;
  padding-left: 0;
}
@media (min-width: 768px){
  #footer-navigation ul.menu>li:first-child {
      margin-left: 0;
  }
}
@media (min-width: 1200px) and (min-width: 768px){
  #footer-navigation ul.menu>li {
      margin-left: 30px;
  }
}
@media (min-width: 768px){
  #footer-navigation ul.menu>li {
      float: left;
      margin-left: 20px;
  }
}
#footer-navigation li {
    margin-bottom: 5.25px;
}
#footer a {
    color: #ddd;
}
#footer a:hover {
  color: #f76a6b;
}
@media (min-width: 992px){
  #footer .vcard {
      float: right;
      text-align: right;
      margin-bottom: 60px;
  }
}
#footer .vcard {
    font-size: 12px;
    margin-bottom: 30px;
}
#footer .vcard .logo {
    display: none;
    width: 50px;
    float: right;
    margin-left: 16px;
    margin-top: -3px;
}
#footer .vcard p.tel {
    font-size: 28px;
    font-family: Montserrat,titillium web,helvetica neue,Helvetica,Arial,sans-serif;
    margin-bottom: 20px;
    float: left;
}
@media (min-width: 1200px){
  #footer .vcard .logo {
      display: block;
      width: 70px;
  }
  #footer .vcard p.tel {
      margin-bottom: 50px;
  }
}
#footer .vcard p {
    margin: 0;
}
#footer .vcard p.tel a {
    color: #fff;
}
#footer a {
    color: #ddd;
}
#footer .vcard p.fn {
    clear: left;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;
}
#footer .vcard p {
    margin: 0;
}
#footer .vcard p.adr {
    margin-bottom: 6px;
}
#footer .vcard p {
    margin: 0;
}
#site-description {
  text-align: left !important;
  float: left !important;
  clear: left !important;
  font-size: 1em !important;
  margin-bottom: 40px !important;
  padding-top: 20px;
}
@media (min-width: 992px){
#site-description {
    float: right;
    clear: right;
    text-align: right;
    margin-bottom: 0;
    margin-top: -20px;
    max-width: 600px;
}
}
#site-description {
    font-size: 12px;
    margin-bottom: 20px;
}
#site-description h3 {
    font-size: 1em;
}
@media (min-width: 992px){
#footer ul.social-links {
    float: left;
    margin-bottom: 0;
}}
#footer ul.social-links {
    margin-bottom: 20px;
    clear: both;
}
#footer ul.social-links {
  list-style: none;
  padding-left: 0;
}
#footer ul.social-links li:first-child {
    margin-left: 0;
}
#footer ul.social-links li {
    float: left;
    margin-left: 4px;
}
#footer ul.social-links a {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #999;
    color: #222;
    border-radius: 100px;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    -webkit-transition: background-color linear .15s;
    -o-transition: background-color linear .15s;
    transition: background-color linear .15s;
}
#footer ul.social-links a span {
    display: none;
}
@media (min-width: 992px){
#site-legal {
    float: right;
    text-align: right;
    margin-top: 16px;
}}
#site-legal {
    font-size: 12px;
    clear: right;
}
@media (min-width: 768px){
#site-legal .copyright {
    float: left;
}}
#site-legal .copyright {
    margin: 0;
}
@media (min-width: 768px){
#site-legal .menu {
    float: left;
    margin-top: 0;
}}
#site-legal .menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 4px;
}
@media (min-width: 768px){
#site-legal .menu li {
    float: left;
    margin-left: 6px;
    padding-left: 6px;
    border-left: 1px solid #333;
}}

#our-portfolio {
    padding: 0 0 100px;
}
#our-portfolio h1 {
  text-align: center;
  margin-bottom: 30px;
  padding: 130px 0 60px;
  background: #5b76d8;
  color: #fff;
  font-weight: 700;
  margin-bottom: 70px;
}
@media(max-width: 700px){
  #our-portfolio h1 {
    padding: 60px 0;
  }
}
#our-portfolio .portfolio-website-card {
  background: #fff;
  padding: 3%;
  width: 47%;
  display: inline-block;
  margin: 1%;
  box-shadow: 1px 1px 10px 5px #d2cece;
}
#our-portfolio .portfolio-website-card .website-scr img {
  width: 100%;
}
.portfolio-website-card h2 {
  margin-bottom: 20px;
}
.portfolio-website-card h2 a {
    color: #000;
}
.portfolio-website-card h2 a:hover {
    color: #5b76d8;
    text-decoration: none;
}
.website-description {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}
.website-description a {
  color: #5b76d8;
  word-break: break-all;
}
.website-description a:hover {
  color: #f76a6b;
}
@media(max-width: 700px){
  #our-portfolio {
    padding-top: 50px;
  }
  #our-portfolio .portfolio-website-card {
    background: #fff;
    padding: 3%;
    margin: 0;
    margin: 0 0 50px;
    width: 100%;
    display: block;
    box-shadow: 1px 1px 10px 5px #d2cece;
  }
}
#reviews{
    padding: 0 0 100px;
}
#reviews h1 {
  text-align: center;
  margin-bottom: 30px;
  padding: 130px 0 60px;
  background: #5b76d8;
  color: #fff;
  font-weight: 700;
  margin-bottom: 70px;
}
@media(max-width: 700px){
  #reviews h1 {
    padding: 60px 0;
  }
}
#reviews .review-card {
  background: #f0f0f0;
  width: 100%;
  display: inline-block;
  box-shadow: -6px 1px 25px 1px #d2cece;
  margin-bottom: 50px;
}
#reviews .review-card .review-scr img {
  width: 100%;
}
.request-quote {
  background: #5b76d8;
  display: block;
  width: 290px;
  border-radius: 0 35px;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  margin: 50px auto 0;
  transition: all .5s ease;
}
.request-quote:hover {
  background: #f97c7c;
  color: #fff;
  text-decoration: none;
}
@media(max-width: 700px){
  #reviews {
    padding-top: 50px;
  }
}

#contact-us {
  padding: 0 0 100px;
  min-height: 100vh;
}
#contact-us h1 {
  text-align: center;
  margin-bottom: 30px;
  padding: 130px 0 60px;
  background: #5b76d8;
  color: #fff;
  font-weight: 700;
  margin-bottom: 70px;
}
@media(max-width: 700px){
  #contact-us h1 {
    padding: 60px 0;
  }
}
.hbspt-form {
  max-width: 500px;
  margin: auto;
}
.submitted-message {
    margin-top: 0px;
    text-align: center;
}
@media(max-width: 700px){
  #contact-us {
    padding-top: 50px;
  }
}

#about-us {
  padding: 0 0 100px;
}
#about-us h1 {
  text-align: center;
  margin-bottom: 30px;
  padding: 130px 0 60px;
  background: #5b76d8;
  color: #fff;
  font-weight: 700;
  margin-bottom: 70px;
}
@media(max-width: 700px){
  #about-us h1 {
    padding: 60px 0;
  }
}
#about-us p {
  font-size: 18px;
}
@media(max-width: 700px){
  #about-us {
    padding-top: 50px;
  }
}




.customSection{padding-right:5%;padding-left:5%;width:100%;padding-top:40px;padding-bottom:50px;}
.customSection li{padding:20px!important;}
.customCommunities-content{max-width:1170px;margin:auto;}
.customCommunities-content img{display:block;width:100%;height:auto;}
.customCommunities hr{margin:10px 0;}
.customCommunities li{padding:10px;}
.community-container{position:relative;margin:auto;max-width:450px;}
.community-overlay{position:absolute;top:0;bottom:0;left:0;right:0;height:100%;width:100%;opacity:0;transition:.5s ease;background-color:#223373;}
.community-link-overlay{position:absolute;top:0;bottom:0;left:0;right:0;height:100%;width:100%;opacity:0;z-index:98;}
.community-link-overlay a{display:block;height:100%;width:100%;}
.community-description{position:absolute;width:100%;text-align:center;top:50%;left:0;transform:translate(0, -50%);-ms-transform:translate(0, -50%);z-index:97;padding:5px;}
.community-description h3{font-family:'Lato', sans-serif!important;text-transform:uppercase;color:white!important;font-size:24px!important;font-weight:600;text-shadow:5px 5px 20px #000;}
.community-container:hover .community-overlay{opacity:.1;background-color:#223373;}
@media only screen and (min-width:30em) and (max-width: 46em){
.customSection li{text-align:center;}
}
[class*="block-grid-"]{display:block;padding:0;margin:0 -.625rem;}
[class*="block-grid-"]:before,[class*="block-grid-"]:after{content:" ";display:table;}
[class*="block-grid-"]:after{clear:both;}
[class*="block-grid-"]>li{display:block;height:auto;float:left;padding:0 .625rem 1.25rem;}
@media only screen{
.small-block-grid-1>li{width:100%;list-style:none;}
.small-block-grid-1>li:nth-of-type(1n){clear:none;}
.small-block-grid-1>li:nth-of-type(1n+1){clear:both;}
}
@media only screen and (min-width: 46.063em){
.medium-block-grid-3>li{width:33.33333%;list-style:none;}
.medium-block-grid-3>li:nth-of-type(1n){clear:none;}
.medium-block-grid-3>li:nth-of-type(3n+1){clear:both;}
}
@media only screen and (min-width: 64.063em){
.large-block-grid-3>li{width:33.33333%;list-style:none;}
.large-block-grid-3>li:nth-of-type(1n){clear:none;}
.large-block-grid-3>li:nth-of-type(3n+1){clear:both;}
}
.button{border-style:solid;border-width:0px;cursor:pointer;font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;font-weight:normal;line-height:normal;margin:0 0 1.25rem;position:relative;text-decoration:none;text-align:center;-webkit-appearance:none;-webkit-border-radius:0;display:inline-block;padding-top:1rem;padding-right:2rem;padding-bottom:1.0625rem;padding-left:2rem;font-size:1rem;background-color:#008CBA;border-color:#007095;color:#fff;transition:background-color 300ms ease-out;}
.button:hover,.button:focus{background-color:#007095;}
.button:hover,.button:focus{color:#fff;}
.button.info{background-color:#a0d3e8;border-color:#61b6d9;color:#333;}
.button.info:hover,.button.info:focus{background-color:#61b6d9;}
.button.info:hover,.button.info:focus{color:#fff;}
.button.large{padding-top:1.125rem;padding-right:2.25rem;padding-bottom:1.1875rem;padding-left:2.25rem;font-size:1.25rem;}
.button.radius{border-radius:3px;}
@media only screen and (min-width: 46.063em){
.button{display:inline-block;}
}
.button{border-style:solid;border-width:0px;cursor:pointer;font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;font-weight:normal;line-height:normal;margin:0 0 1.25rem;position:relative;text-decoration:none;text-align:center;-webkit-appearance:none;-webkit-border-radius:0;display:inline-block;padding-top:1rem;padding-right:2rem;padding-bottom:1.0625rem;padding-left:2rem;font-size:1rem;background-color:#008CBA;border-color:#007095;color:#fff;transition:background-color 300ms ease-out;}
.button:hover,.button:focus{background-color:#007095;}
.button:hover,.button:focus{color:#fff;}
.button.info{background-color:#a0d3e8;border-color:#61b6d9;color:#333;}
.button.info:hover,.button.info:focus{background-color:#61b6d9;}
.button.info:hover,.button.info:focus{color:#fff;}
.button.large{padding-top:1.125rem;padding-right:2.25rem;padding-bottom:1.1875rem;padding-left:2.25rem;font-size:1.25rem;}
.button.radius{border-radius:3px;}
@media only screen and (min-width: 46.063em){
.button{display:inline-block;}
}
.button{border-style:solid;border-width:0px;cursor:pointer;font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;font-weight:normal;line-height:normal;margin:0 0 1.25rem;position:relative;text-decoration:none;text-align:center;-webkit-appearance:none;-webkit-border-radius:0;display:inline-block;padding-top:1rem;padding-right:2rem;padding-bottom:1.0625rem;padding-left:2rem;font-size:1rem;background-color:#008CBA;border-color:#007095;color:#fff;transition:background-color 300ms ease-out;}
.button:hover,.button:focus{background-color:#007095;}
.button:hover,.button:focus{color:#fff;}
.button.info{background-color:#a0d3e8;border-color:#61b6d9;color:#333;}
.button.info:hover,.button.info:focus{background-color:#61b6d9;}
.button.info:hover,.button.info:focus{color:#fff;}
.button.large{padding-top:1.125rem;padding-right:2.25rem;padding-bottom:1.1875rem;padding-left:2.25rem;font-size:1.25rem;}
.button.radius{border-radius:3px;}
@media only screen and (min-width: 46.063em){
.button{display:inline-block;}
}

#our-packages{
    padding: 0 0 100px;
}
#our-packages h1 {
  text-align: center;
  margin-bottom: 30px;
}
#our-packages h1 {
  text-align: center;
  margin-bottom: 30px;
  padding: 130px 0 60px;
  background: #5b76d8;
  color: #fff;
  font-weight: 700;
  margin-bottom: 70px;
}
@media(max-width: 700px){
  #our-packages h1 {
    padding: 60px 0;
  }
}
#our-packages .widget:before{content:" ";display:table;}
#our-packages .widget:after{clear:both;content:" ";display:table;}
#our-packages a,.button{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
#our-packages ::-moz-selection{background-color:#5b5e5e;color:#fff;}
#our-packages ::selection{background-color:#5b5e5e;color:#fff;}
#our-packages a{border-bottom:none;color:#FF5A5F;text-decoration:none;}
#our-packages ul{margin:0;padding:0;}
#our-packages li{list-style-type:none;}
#our-packages ::-moz-placeholder{color:#999;font-weight:300;opacity:1;}
#our-packages ::-webkit-input-placeholder{color:#999;font-weight:300;}
#our-packages .button,.entry-content a.button,.textwidget a.button{background-color:#5b76d8;border-radius:50px;border:none;color:#fff;cursor:pointer;font-size:14px;font-size:1.4rem;font-weight:500;letter-spacing:0.5px;padding:20px 30px;text-transform:uppercase;white-space:normal;width:auto;}
#our-packages .button:focus,.button:hover,.entry-content a.button:focus,.entry-content a.button:hover,.textwidget a.button:focus,.textwidget a.button:hover{background-color:#fff;border:none;color:#444;text-decoration:none;}
#our-packages .button{display:inline-block;}
#our-packages .one-third{float:left;margin-left:2.564102564102564%;}
#our-packages .one-third{width:31.623931623931625%;}
#our-packages .first{clear:both;margin-left:0;}
#our-packages .widget{word-wrap:break-word;}
#our-packages :focus{color:#232525;outline:#ddd solid 1px;}
#our-packages .entry-content ul{margin-bottom:30px;margin-left:40px;}
#our-packages .entry-content ul > li{list-style-type:disc;}
@media only screen and (max-width: 600px){
#our-packages .one-third{float:none;margin-left:0;width:100%;}
}
#our-packages .page-template-section-landing-page .full-width-inner-section{padding:60px 40px;}
#our-packages .full-width-inner-section .widget{max-width:1200px;margin:0 auto;}
#our-packages .pricing-table-list{border-radius:10px;border:1px solid #e0e0e0;text-align:center;font-size:1.1em;margin-top:0;margin-bottom:40px;}
#our-packages .pricing-table-main-header{font-weight:400;font-size:1em;color:#fff;border-top-right-radius:10px;border-top-left-radius:10px;background-color:#f7696b;border-bottom:1px solid #176087!important;}
#our-packages .pricing-table-cost-header{font-weight:700;font-size:1.3em;background-color:#5b76d8;color:#fff;}
#our-packages .pricing-table-list li{border-bottom:1px solid #e0e0e0;padding:20px 10px;line-height:1.5em;list-style-type:none!important;}
#our-packages .pricing-table-list li:last-child{border-bottom:none!important;}
#our-packages .pricing-table-button{background-color:#5b76d8;border-bottom-right-radius:10px;border-bottom-left-radius:10px;border-top:1px solid #5b76d8!important;}
#our-packages .pricing-table-list .button{background-color:#fff!important;color:#5b76d8!important;}
#our-packages .pricing-table-list .button:hover{background-color:#5b76d8!important;color:#fff!important;}
#our-packages .full-width-page .widget{width:100%;max-width:100%;}
#our-packages .full-width-page .full-width-inner-section{padding:60px 40px;}

#realgeeks-buildout-form {
  padding: 0 0 100px;
  min-height: 100vh;
}
#realgeeks-buildout-form h1 {
  text-align: center;
  margin-bottom: 30px;
  padding: 130px 0 60px;
  background: #5b76d8;
  color: #fff;
  font-weight: 700;
  margin-bottom: 70px;
}
@media(max-width: 700px){
  #realgeeks-buildout-form h1 {
    padding: 60px 0;
  }
}

.navbar-nav .nav-link.request-quote-nav {
  border: solid 2px #5b76d8;
  background: #5b76d8;
  color: #fff;
  border-radius: 0 30px;
  padding: 8px 20px;
  margin-left: 15px;
  width: fit-content;
}
.navbar-original .navbar-light .navbar-nav .nav-link.request-quote-nav {
  color: #fff;
}
.navbar-nav .nav-link.request-quote-nav:hover {
  background: #f76a6b;
  color: #fff;
}
.navbar-original .navbar-light .navbar-nav .active>.nav-link.request-quote-nav:hover, .navbar-original .navbar-light .navbar-nav .nav-link.request-quote-nav:hover {
  color: #fff;
  background: #f76a6b;
}
@media(max-width: 700px){
  .navbar-nav .nav-link.request-quote-nav {
    margin: 10px auto;
  }
}
